<div class="cmp-title-wrapper">
  <div class="title">
    <div data-cmp-data-layer="{&quot;title-c6fe1860ab&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/title&quot;,&quot;dc:title&quot;:&quot;Title&quot;}}" id="title-c6fe1860ab" class="cmp-title">
      <h1 class="cmp-title__text">Title H1</h1>
      <br>
      <h2 class="cmp-title__text">Title H2</h2>
      <br>
      <h3 class="cmp-title__text">Title H3</h3>
      <br>
      <h4 class="cmp-title__text">Title H4</h4>
      <br>
      <h5 class="cmp-title__text">Title H5</h5>
      <br>
      <h6 class="cmp-title__text">Title H6</h6>
    </div>
  </div>
</div>