<div class="columncontrol aem-GridColumn aem-GridColumn--default--12">

    <div class="grid grid-1 ">

        <div class="grid-column container-column-0">

            <div class="embed">
                <div
                    data-cmp-data-layer="{&quot;embed-2b0afbfac9&quot;:{&quot;@type&quot;:&quot;chc/components/content/embed&quot;,&quot;repo:modifyDate&quot;:&quot;2024-03-26T09:12:17Z&quot;}}"
                    id="embed-2b0afbfac9" class="cmp-embed">

                    <iframe
                        data-cmp-data-layer="{&quot;youtube-2b0afbfac9&quot;:{&quot;@type&quot;:&quot;core/wcm/components/embed/v1/embed/embeddable/youtube&quot;,&quot;repo:modifyDate&quot;:&quot;2024-03-26T09:12:17Z&quot;,&quot;embeddableProperties&quot;:{&quot;youtubeVideoId&quot;:&quot;ZqKoJdYeG4A&quot;}}}"
                        title="youtube video" width="100%" height="390"
                        src="https://www.youtube.com/embed/ZqKoJdYeG4A?origin=https%3A%2F%2Fauthor-p128769-e1254081.adobeaemcloud.com&amp;hl=en"
                        frameborder="0" allowfullscreen
                        allow="autoplay; fullscreen"
                        aria-label="YouTube Video"></iframe>

                </div>

            </div>

        </div>

    </div>

</div>