<p>Link Light</p>
<div class="linkcomponent link">
  <div class="cmp-link">
    <a id="linkcomponent-826ad67c27" class="cmp-link__anchor coral-Link" href="#" title="Sample Tooltip" target="_self">Sample Link Component</a>
  </div>
</div>

<p>Link Inverse</p>
<div class="link-bg">
    <div class="linkcomponent link">
        <div class="cmp-link">
            <a id="linkcomponent-826ad67c27" class="cmp-link__anchor coral-Link" href="#" title="Sample Tooltip" target="_self">Sample Link Component</a>
        </div>
    </div>
</div>
