<header id="mainnavigation">

    <div id="backdrop-active"></div>
    <nav aria-label="secondary-navigation" class="cigna-container cmp-header">
        <div class="header__logo">
            <div class="image">
                <div data-cmp-is="image"
                    data-cmp-src="/content/experience-fragments/chc/us/en/site/site-header/header-demo/_jcr_content/root/header/header-logo/image_copy.coreimg{.width}.png/1713792409028/cigna-logo.png"
                    data-asset-id="711c97f4-ee1c-4440-9b68-5eabc8e7c87e"
                    data-cmp-filereference="/content/dam/web/cignahealthcare/brokers/images/logos1/cigna-logo.png"
                    id="image-7312b31dbc"
                    data-cmp-data-layer="{&quot;image-7312b31dbc&quot;:{&quot;@type&quot;:&quot;chc/components/content/image&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-22T13:26:49Z&quot;,&quot;dc:title&quot;:&quot;Demo 2 T&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;711c97f4-ee1c-4440-9b68-5eabc8e7c87e&quot;,&quot;repo:modifyDate&quot;:&quot;2024-03-21T09:30:08Z&quot;,&quot;@type&quot;:&quot;image/png&quot;,&quot;repo:path&quot;:&quot;/content/dam/web/cignahealthcare/brokers/images/logos1/cigna-logo.png&quot;}}}"
                    data-cmp-hook-image="imageV3" class="cmp-image" itemscope=""
                    itemtype="http://schema.org/ImageObject">
                    <img src="assets/cigna-healthcare-logo.png"
                        loading="lazy" class="cmp-image__image" itemprop="contentUrl" width="237" height="129"
                        alt="Demo 2 D" title="Demo 2 T">
                    <meta itemprop="caption" content="Demo 2 T">
                </div>
            </div>
        </div>
        <div class="header__text">
            <div class="text">
                <div data-cmp-data-layer="{&quot;text-a3ac10bcb3&quot;:{&quot;@type&quot;:&quot;chc/components/content/text&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-22T13:28:54Z&quot;,&quot;xdm:text&quot;:&quot;<ul>\r\n<li>For&amp;nbsp;<a href=\&quot;/content/chc/us/en.html\&quot;>Individuals &amp;amp; Families</a></li>\r\n<li>For&amp;nbsp;<a href=\&quot;https://www.cigna.com/medicare/\&quot;>Medicare</a></li>\r\n<li>For&amp;nbsp;<a href=\&quot;https://www.cigna.com/health-care-providers/\&quot;>Providers</a></li>\r\n<li>For&amp;nbsp;<a href=\&quot;https://www.cigna.com/brokers/\&quot;>Brokers</a></li>\r\n</ul>\r\n&quot;}}"
                    id="text-a3ac10bcb3" class="cmp-text">
                    <ul>
                        <li>For&nbsp;<a href="/content/chc/us/en.html">Individuals &amp; Families</a></li>
                        <li>For&nbsp;<a href="https://www.cigna.com/medicare/">Medicare</a></li>
                        <li>For&nbsp;<a href="https://www.cigna.com/health-care-providers/">Providers</a></li>
                        <li>For&nbsp;<a href="https://www.cigna.com/brokers/">Brokers</a></li>
                    </ul>

                </div>



            </div>


        </div>
    </nav>



    <nav aria-label="primary-navigation" class="header-bottom" data-component="header">


        <div class="header__menu-icon cigna-container">
            <a href="#" id="header__menu-icon">
                <span class="menu-icon"></span>
                <span>Menu</span>
            </a>
        </div>









        <div class="megamenu">





            <div class="header__mega_menu cigna-container">
                <div class="cmp-mega-menu">
                    <div class="header__mega-menu--wrapper">
                        <span class="mega-menu__heading">For Employers:</span>
                        <a href="#" class="mega-menu__heading-mob">For Employers:</a>
                        <div class="mega-menu">




                            <!-- FIX ME: Need to look at tabindex, VSCode is complaining about this -->
                            <div class="mega-menu__item dropdown" tabindex="0">
                                <div class="mega-menu__item_wrapper">
                                    <h3 class="dropdown-toggle">Plans and Services<div class="dropdown-icon"></div>
                                    </h3>
                                    <div class="dropdown__triangle-up" style="opacity: 0;"></div>
                                </div>
                                <div class="dropdown-content active-item">
                                    <div class="xfpage page basicpage">



                                        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                                            <div class="title aem-GridColumn aem-GridColumn--default--12">
                                                <div data-cmp-data-layer="{&quot;title-61fd5f9ce0&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:30:13Z&quot;,&quot;dc:title&quot;:&quot;Plans and Services&quot;}}"
                                                    id="title-61fd5f9ce0" class="cmp-title">
                                                    <h3 class="cmp-title__text">Plans and Services</h3>
                                                </div>



                                            </div>
                                            <div class="columncontrol aem-GridColumn aem-GridColumn--default--12">



                                                <div class="grid grid-1-1 ">

                                                    <div class="grid-column container-column-0">







                                                        <div class="list">
                                                            <ul id="list-6deaf375f0"
                                                                data-cmp-data-layer="{&quot;list-6deaf375f0&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T13:08:18Z&quot;}}"
                                                                class="cmp-list">
                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-6deaf375f0-item-0d1954ab17&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Medical&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/medical-plans/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/medical-plans/">
                                                                        <span
                                                                            class="cmp-list__item-title">Medical</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-6deaf375f0-item-de8b675401&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Pharmacy&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/pharmacy/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/pharmacy/">
                                                                        <span
                                                                            class="cmp-list__item-title">Pharmacy</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-6deaf375f0-item-9f5ce7f9b4&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Health and Wellness Programs&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                        <span class="cmp-list__item-title">Health and
                                                                            Wellness Programs</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-6deaf375f0-item-3016767cfa&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Behavioral Health Programs&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                        <span class="cmp-list__item-title">Behavioral
                                                                            Health Programs</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-6deaf375f0-item-d51783e01f&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Dental and Vision&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                        <span class="cmp-list__item-title">Dental and
                                                                            Vision</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-6deaf375f0-item-ee2af3ca5d&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Health Savings and Spending Accounts&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                        <span class="cmp-list__item-title">Health
                                                                            Savings and Spending Accounts</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-6deaf375f0-item-99d4ac0e8c&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Cost Control Strategies&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                        <span class="cmp-list__item-title">Cost Control
                                                                            Strategies</span>

                                                                    </a>

                                                                </li>

                                                            </ul>



                                                        </div>



                                                    </div>

                                                    <div class="grid-column container-column-1">







                                                        <div class="list">
                                                            <ul id="list-ea48520563"
                                                                data-cmp-data-layer="{&quot;list-ea48520563&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-13T11:33:41Z&quot;}}"
                                                                class="cmp-list">
                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-ea48520563-item-dec6e568b1&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Supplemental Health Solutions&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/medical-plans/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/medical-plans/"
                                                                        target="_blank">
                                                                        <span class="cmp-list__item-title">Supplemental
                                                                            Health Solutions</span>

                                                                        <span
                                                                            class="cmp-link__screen-reader-only">(opens
                                                                            in a new tab)</span></a>

                                                                </li>

                                                            </ul>



                                                        </div>



                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>







                            <!-- FIX ME: Need to look at tabindex, VSCode is complaining about this -->
                            <div class="mega-menu__item dropdown" tabindex="0">
                                <div class="mega-menu__item_wrapper">
                                    <h3 class="dropdown-toggle">Who We Serve<div class="dropdown-icon"></div>
                                    </h3>
                                    <div class="dropdown__triangle-up"></div>
                                </div>
                                <div class="dropdown-content active-item">
                                    <div class="xfpage page basicpage">



                                        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                                            <div class="title aem-GridColumn aem-GridColumn--default--12">
                                                <div data-cmp-data-layer="{&quot;title-ef716ddccf&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:19:32Z&quot;,&quot;dc:title&quot;:&quot;Who We Serve&quot;}}"
                                                    id="title-ef716ddccf" class="cmp-title">
                                                    <h3 class="cmp-title__text">Who We Serve</h3>
                                                </div>



                                            </div>
                                            <div class="columncontrol aem-GridColumn aem-GridColumn--default--12">



                                                <div class="grid grid-1-1-1 gutters-no ">

                                                    <div class="grid-column container-column-0">







                                                        <div class="title">
                                                            <div data-cmp-data-layer="{&quot;title-086d0072ec&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:24:26Z&quot;,&quot;dc:title&quot;:&quot;By Size&quot;}}"
                                                                id="title-086d0072ec" class="cmp-title">
                                                                <h3 class="cmp-title__text">By Size</h3>
                                                            </div>



                                                        </div>




                                                        <div class="list">
                                                            <ul id="list-5d8d6f3be8"
                                                                data-cmp-data-layer="{&quot;list-5d8d6f3be8&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:26:03Z&quot;}}"
                                                                class="cmp-list">
                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-5d8d6f3be8-item-966258b8fe&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Small Businesses (2-99 employees)&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/small-business&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/small-business">
                                                                        <span class="cmp-list__item-title">Small
                                                                            Businesses (2-99 employees)</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-5d8d6f3be8-item-0f680dc5c8&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Small to Midsize Businesses (100-499 employees)&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/small-business&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/small-business">
                                                                        <span class="cmp-list__item-title">Small to
                                                                            Midsize Businesses (100-499
                                                                            employees)</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-5d8d6f3be8-item-0c0013b52d&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Midsize to Large Businesses (500-2,999 employees)&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/small-business&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/small-business">
                                                                        <span class="cmp-list__item-title">Midsize to
                                                                            Large Businesses (500-2,999
                                                                            employees)</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-5d8d6f3be8-item-5fc2380fb5&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Large Businesses (3,000+ employees)&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/small-business&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/small-business">
                                                                        <span class="cmp-list__item-title">Large
                                                                            Businesses (3,000+ employees)</span>

                                                                    </a>

                                                                </li>

                                                            </ul>



                                                        </div>



                                                    </div>

                                                    <div class="grid-column container-column-1">







                                                        <div class="title">
                                                            <div data-cmp-data-layer="{&quot;title-e156e7af78&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:26:21Z&quot;,&quot;dc:title&quot;:&quot;By Type&quot;}}"
                                                                id="title-e156e7af78" class="cmp-title">
                                                                <h3 class="cmp-title__text">By Type</h3>
                                                            </div>



                                                        </div>




                                                        <div class="list">
                                                            <ul id="list-c672680ce9"
                                                                data-cmp-data-layer="{&quot;list-c672680ce9&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:28:29Z&quot;}}"
                                                                class="cmp-list">
                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-c672680ce9-item-57a76f012b&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Hospitals and Health Systems&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#hospitals-health-systems&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/business-types#hospitals-health-systems">
                                                                        <span class="cmp-list__item-title">Hospitals and
                                                                            Health Systems</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-c672680ce9-item-4c6c3c3c6f&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Higher Education&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#higher-education&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/business-types#higher-education">
                                                                        <span class="cmp-list__item-title">Higher
                                                                            Education</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-c672680ce9-item-eda7bfa226&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;K-12 Education&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#k-12&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/business-types#k-12">
                                                                        <span class="cmp-list__item-title">K-12
                                                                            Education</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-c672680ce9-item-9481b0cef1&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;State and Local Governments&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#state-local-governments&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/business-types#state-local-governments">
                                                                        <span class="cmp-list__item-title">State and
                                                                            Local Governments</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-c672680ce9-item-5be87112ee&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Taft-Hartley and Federal&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#taft-hartley&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/business-types#taft-hartley">
                                                                        <span class="cmp-list__item-title">Taft-Hartley
                                                                            and Federal</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-c672680ce9-item-46023d6848&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Third-Party Administrators&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types/third-party-administrators&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/business-types/third-party-administrators">
                                                                        <span class="cmp-list__item-title">Third-Party
                                                                            Administrators</span>

                                                                    </a>

                                                                </li>

                                                            </ul>



                                                        </div>



                                                    </div>

                                                    <div class="grid-column container-column-2">







                                                        <div class="title">
                                                            <div data-cmp-data-layer="{&quot;title-336e68d4e6&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:28:43Z&quot;,&quot;dc:title&quot;:&quot;International&quot;}}"
                                                                id="title-336e68d4e6" class="cmp-title">
                                                                <h3 class="cmp-title__text">International</h3>
                                                            </div>



                                                        </div>




                                                        <div class="list">
                                                            <ul id="list-12d6084b46"
                                                                data-cmp-data-layer="{&quot;list-12d6084b46&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:29:47Z&quot;}}"
                                                                class="cmp-list">
                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-12d6084b46-item-80ad8b6270&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Health Insurance for Expats&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cignaglobal.com/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cignaglobal.com/">
                                                                        <span class="cmp-list__item-title">Health
                                                                            Insurance for Expats</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-12d6084b46-item-cdbceddc8d&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;IGO/NGOs&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cignahealthbenefits.com/en&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cignahealthbenefits.com/en">
                                                                        <span
                                                                            class="cmp-list__item-title">IGO/NGOs</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-12d6084b46-item-0ef562da25&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Multinational Businesses&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cignaglobalhealth.com/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cignaglobalhealth.com/">
                                                                        <span class="cmp-list__item-title">Multinational
                                                                            Businesses</span>

                                                                    </a>

                                                                </li>

                                                            </ul>



                                                        </div>



                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>









                            <div class="mega-menu__item" tabindex="0">
                                <div class="cmp-link">
                                    <a href="https://www.cigna.com/employers/why-cigna/" tabindex="-1"
                                        target="_self">Why Cigna Healthcare</a>
                                </div>
                            </div>





                            <!-- FIX ME: Need to look at tabindex, VSCode is complaining about this -->
                            <div class="mega-menu__item dropdown" tabindex="0">
                                <div class="mega-menu__item_wrapper">
                                    <h3 class="dropdown-toggle">Employer Resources<div class="dropdown-icon"></div>
                                    </h3>
                                    <div class="dropdown__triangle-up" style="opacity: 0;"></div>
                                </div>
                                <div class="dropdown-content active-item">
                                    <div class="xfpage page basicpage">



                                        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                                            <div class="title aem-GridColumn aem-GridColumn--default--12">
                                                <div data-cmp-data-layer="{&quot;title-bdcc21f0e6&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:33:21Z&quot;,&quot;dc:title&quot;:&quot;Employer Resources&quot;}}"
                                                    id="title-bdcc21f0e6" class="cmp-title">
                                                    <h3 class="cmp-title__text">Employer Resources</h3>
                                                </div>



                                            </div>
                                            <div class="columncontrol aem-GridColumn aem-GridColumn--default--12">



                                                <div class="grid grid-1-1 ">

                                                    <div class="grid-column container-column-0">







                                                        <div class="list">
                                                            <ul id="list-a6a08e3b75"
                                                                data-cmp-data-layer="{&quot;list-a6a08e3b75&quot;:{&quot;@type&quot;:&quot;insights/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-25T12:08:15Z&quot;}}"
                                                                class="cmp-list">
                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-a6a08e3b75-item-c86887891e&quot;:{&quot;@type&quot;:&quot;insights/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Cigna for Employers Portal Features&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/cigna-for-employers/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/cigna-for-employers/">
                                                                        <span class="cmp-list__item-title">Cigna for
                                                                            Employers Portal Features</span>

                                                                    </a>

                                                                </li>
                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-a6a08e3b75-item-c86887891e&quot;:{&quot;@type&quot;:&quot;insights/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Cigna for Employers Portal Features&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/cigna-for-employers/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/cigna-for-employers/">
                                                                        <span class="cmp-list__item-title">Cigna for
                                                                            Employers Portal Features</span>

                                                                    </a>

                                                                </li>

                                                            </ul>



                                                        </div>




                                                        <div class="text">
                                                            <div data-cmp-data-layer="{&quot;text-8c7d2dede6&quot;:{&quot;@type&quot;:&quot;insights/components/content/text&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-25T13:03:29Z&quot;,&quot;xdm:text&quot;:&quot;<p>Learn more about the tools and resources you'll have access to in the Cigna for Employers online portal.</p>\r\n&quot;}}"
                                                                id="text-8c7d2dede6" class="cmp-text">
                                                                <p>Learn more about the tools and resources you'll have
                                                                    access to in the Cigna for Employers online portal.
                                                                </p>

                                                            </div>



                                                        </div>



                                                    </div>

                                                    <div class="grid-column container-column-1">







                                                        <div class="title">
                                                            <div data-cmp-data-layer="{&quot;title-5344409f7c&quot;:{&quot;@type&quot;:&quot;insights/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-25T12:09:01Z&quot;,&quot;dc:title&quot;:&quot;Industry Insights&quot;}}"
                                                                id="title-5344409f7c" class="cmp-title">
                                                                <h3 class="cmp-title__text">Industry Insights</h3>
                                                            </div>



                                                        </div>




                                                        <div class="list">
                                                            <ul id="list-494240b6ed"
                                                                data-cmp-data-layer="{&quot;list-494240b6ed&quot;:{&quot;@type&quot;:&quot;insights/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-25T12:10:54Z&quot;}}"
                                                                class="cmp-list">
                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-494240b6ed-item-96c31fb4ab&quot;:{&quot;@type&quot;:&quot;insights/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Informed on Reform&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/insights/informed-on-reform/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/insights/informed-on-reform/">
                                                                        <span class="cmp-list__item-title">Informed on
                                                                            Reform</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-494240b6ed-item-d3ea522e00&quot;:{&quot;@type&quot;:&quot;insights/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Workplace Wellness&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/insights/informed-on-reform/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/insights/informed-on-reform/">
                                                                        <span class="cmp-list__item-title">Workplace
                                                                            Wellness</span>

                                                                    </a>

                                                                </li>


                                                                <li class="cmp-list__item"
                                                                    data-cmp-data-layer="{&quot;list-494240b6ed-item-745519ff32&quot;:{&quot;@type&quot;:&quot;insights/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Consumer-Driven Health Plans&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/insights/informed-on-reform/&quot;}}">
                                                                    <a class="cmp-list__item-link" data-cmp-clickable=""
                                                                        href="https://www.cigna.com/employers/insights/informed-on-reform/">
                                                                        <span
                                                                            class="cmp-list__item-title">Consumer-Driven
                                                                            Health Plans</span>

                                                                    </a>

                                                                </li>

                                                            </ul>



                                                        </div>



                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>

                    <div class="header__login-button">
                        <div>






                            <div class="button cmp-button__secondary">
                                <a id="button-41d4e18582" class="cmp-button" data-cmp-clickable=""
                                    data-cmp-data-layer="{&quot;button-41d4e18582&quot;:{&quot;@type&quot;:&quot;chc/components/content/button&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-23T08:41:17Z&quot;,&quot;dc:title&quot;:&quot;Log in to Employer Portal&quot;,&quot;xdm:linkURL&quot;:&quot;/content/chc/us/en.html&quot;}}"
                                    href="/content/chc/us/en.html" target="_blank">



                                    <span class="cmp-button__text">Log in to Employer Portal</span>
                                    <span class="cmp-link__screen-reader-only">(opens in a new tab)</span></a>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>




    </nav>

    <nav aria-label="primary-navigation-mobile" class="cmp-mob-menu menu-open" id="cmp-mob-menu">



        <div class="header__mob">
            <div class="header__mob__logo">






                <div class="image">
                    <div data-cmp-is="image"
                        data-cmp-src="/content/experience-fragments/chc/us/en/site/site-header/header-demo/_jcr_content/root/header/header-logo/image_copy.coreimg{.width}.png/1713792409028/cigna-logo.png"
                        data-asset-id="711c97f4-ee1c-4440-9b68-5eabc8e7c87e"
                        data-cmp-filereference="/content/dam/web/cignahealthcare/brokers/images/logos1/cigna-logo.png"
                        id="image-7312b31dbc"
                        data-cmp-data-layer="{&quot;image-7312b31dbc&quot;:{&quot;@type&quot;:&quot;chc/components/content/image&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-22T13:26:49Z&quot;,&quot;dc:title&quot;:&quot;Demo 2 T&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;711c97f4-ee1c-4440-9b68-5eabc8e7c87e&quot;,&quot;repo:modifyDate&quot;:&quot;2024-03-21T09:30:08Z&quot;,&quot;@type&quot;:&quot;image/png&quot;,&quot;repo:path&quot;:&quot;/content/dam/web/cignahealthcare/brokers/images/logos1/cigna-logo.png&quot;}}}"
                        data-cmp-hook-image="imageV3" class="cmp-image" itemscope=""
                        itemtype="http://schema.org/ImageObject">

                        <img src="/content/experience-fragments/chc/us/en/site/site-header/header-demo/_jcr_content/root/header/header-logo/image_copy.coreimg.png/1713792409028/cigna-logo.png"
                            loading="lazy" class="cmp-image__image" itemprop="contentUrl" width="237" height="129"
                            alt="Demo 2 D" title="Demo 2 T">


                        <meta itemprop="caption" content="Demo 2 T">
                    </div>



                </div>


            </div>
            <div class="close-icon" id="close-icon"></div>
        </div>





        <div class="header__mega_mob_menu cmp-list__mega">






            <div class="megamenu">





                <div class="header__mega_menu cigna-container">
                    <div class="cmp-mega-menu">
                        <div class="header__mega-menu--wrapper">
                            <span class="mega-menu__heading">For Employers:</span>
                            <a href="#" class="mega-menu__heading-mob">For Employers:</a>
                            <div class="mega-menu">




                                <!-- FIX ME: Need to look at tabindex, VSCode is complaining about this -->
                                <div class="mega-menu__item dropdown" tabindex="0">
                                    <div class="mega-menu__item_wrapper">
                                        <h3 class="dropdown-toggle">Plans and Services<div class="dropdown-icon"></div>
                                        </h3>
                                        <div class="dropdown__triangle-up"></div>
                                    </div>
                                    <div class="dropdown-content active-item">
                                        <div class="xfpage page basicpage">



                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                                                <div class="title aem-GridColumn aem-GridColumn--default--12">
                                                    <div data-cmp-data-layer="{&quot;title-61fd5f9ce0&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:30:13Z&quot;,&quot;dc:title&quot;:&quot;Plans and Services&quot;}}"
                                                        id="title-61fd5f9ce0" class="cmp-title">
                                                        <h3 class="cmp-title__text">Plans and Services</h3>
                                                    </div>



                                                </div>
                                                <div class="columncontrol aem-GridColumn aem-GridColumn--default--12">



                                                    <div class="grid grid-1-1 ">

                                                        <div class="grid-column container-column-0">







                                                            <div class="list">
                                                                <ul id="list-6deaf375f0"
                                                                    data-cmp-data-layer="{&quot;list-6deaf375f0&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T13:08:18Z&quot;}}"
                                                                    class="cmp-list">
                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-6deaf375f0-item-0d1954ab17&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Medical&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/medical-plans/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/medical-plans/">
                                                                            <span
                                                                                class="cmp-list__item-title">Medical</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-6deaf375f0-item-de8b675401&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Pharmacy&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/pharmacy/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/pharmacy/">
                                                                            <span
                                                                                class="cmp-list__item-title">Pharmacy</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-6deaf375f0-item-9f5ce7f9b4&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Health and Wellness Programs&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                            <span class="cmp-list__item-title">Health
                                                                                and Wellness Programs</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-6deaf375f0-item-3016767cfa&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Behavioral Health Programs&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                            <span
                                                                                class="cmp-list__item-title">Behavioral
                                                                                Health Programs</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-6deaf375f0-item-d51783e01f&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Dental and Vision&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                            <span class="cmp-list__item-title">Dental
                                                                                and Vision</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-6deaf375f0-item-ee2af3ca5d&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Health Savings and Spending Accounts&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                            <span class="cmp-list__item-title">Health
                                                                                Savings and Spending Accounts</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-6deaf375f0-item-99d4ac0e8c&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Cost Control Strategies&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/health-wellness-programs/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/health-wellness-programs/">
                                                                            <span class="cmp-list__item-title">Cost
                                                                                Control Strategies</span>

                                                                        </a>

                                                                    </li>

                                                                </ul>



                                                            </div>



                                                        </div>

                                                        <div class="grid-column container-column-1">







                                                            <div class="list">
                                                                <ul id="list-ea48520563"
                                                                    data-cmp-data-layer="{&quot;list-ea48520563&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-13T11:33:41Z&quot;}}"
                                                                    class="cmp-list">
                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-ea48520563-item-dec6e568b1&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Supplemental Health Solutions&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/medical-plans/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/medical-plans/"
                                                                            target="_blank">
                                                                            <span
                                                                                class="cmp-list__item-title">Supplemental
                                                                                Health Solutions</span>

                                                                            <span
                                                                                class="cmp-link__screen-reader-only">(opens
                                                                                in a new tab)</span></a>

                                                                    </li>

                                                                </ul>



                                                            </div>



                                                        </div>

                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>







                                <!-- FIX ME: Need to look at tabindex, VSCode is complaining about this -->
                                <div class="mega-menu__item dropdown" tabindex="0">
                                    <div class="mega-menu__item_wrapper">
                                        <h3 class="dropdown-toggle">Who We Serve<div class="dropdown-icon"></div>
                                        </h3>
                                        <div class="dropdown__triangle-up"></div>
                                    </div>
                                    <div class="dropdown-content active-item">
                                        <div class="xfpage page basicpage">



                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                                                <div class="title aem-GridColumn aem-GridColumn--default--12">
                                                    <div data-cmp-data-layer="{&quot;title-ef716ddccf&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:19:32Z&quot;,&quot;dc:title&quot;:&quot;Who We Serve&quot;}}"
                                                        id="title-ef716ddccf" class="cmp-title">
                                                        <h3 class="cmp-title__text">Who We Serve</h3>
                                                    </div>



                                                </div>
                                                <div class="columncontrol aem-GridColumn aem-GridColumn--default--12">



                                                    <div class="grid grid-1-1-1 gutters-no ">

                                                        <div class="grid-column container-column-0">







                                                            <div class="title">
                                                                <div data-cmp-data-layer="{&quot;title-086d0072ec&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:24:26Z&quot;,&quot;dc:title&quot;:&quot;By Size&quot;}}"
                                                                    id="title-086d0072ec" class="cmp-title">
                                                                    <h3 class="cmp-title__text">By Size</h3>
                                                                </div>



                                                            </div>




                                                            <div class="list">
                                                                <ul id="list-5d8d6f3be8"
                                                                    data-cmp-data-layer="{&quot;list-5d8d6f3be8&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:26:03Z&quot;}}"
                                                                    class="cmp-list">
                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-5d8d6f3be8-item-966258b8fe&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Small Businesses (2-99 employees)&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/small-business&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/small-business">
                                                                            <span class="cmp-list__item-title">Small
                                                                                Businesses (2-99 employees)</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-5d8d6f3be8-item-0f680dc5c8&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Small to Midsize Businesses (100-499 employees)&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/small-business&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/small-business">
                                                                            <span class="cmp-list__item-title">Small to
                                                                                Midsize Businesses (100-499
                                                                                employees)</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-5d8d6f3be8-item-0c0013b52d&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Midsize to Large Businesses (500-2,999 employees)&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/small-business&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/small-business">
                                                                            <span class="cmp-list__item-title">Midsize
                                                                                to Large Businesses (500-2,999
                                                                                employees)</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-5d8d6f3be8-item-5fc2380fb5&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Large Businesses (3,000+ employees)&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/small-business&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/small-business">
                                                                            <span class="cmp-list__item-title">Large
                                                                                Businesses (3,000+ employees)</span>

                                                                        </a>

                                                                    </li>

                                                                </ul>



                                                            </div>



                                                        </div>

                                                        <div class="grid-column container-column-1">







                                                            <div class="title">
                                                                <div data-cmp-data-layer="{&quot;title-e156e7af78&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:26:21Z&quot;,&quot;dc:title&quot;:&quot;By Type&quot;}}"
                                                                    id="title-e156e7af78" class="cmp-title">
                                                                    <h3 class="cmp-title__text">By Type</h3>
                                                                </div>



                                                            </div>




                                                            <div class="list">
                                                                <ul id="list-c672680ce9"
                                                                    data-cmp-data-layer="{&quot;list-c672680ce9&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:28:29Z&quot;}}"
                                                                    class="cmp-list">
                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-c672680ce9-item-57a76f012b&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Hospitals and Health Systems&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#hospitals-health-systems&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/business-types#hospitals-health-systems">
                                                                            <span class="cmp-list__item-title">Hospitals
                                                                                and Health Systems</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-c672680ce9-item-4c6c3c3c6f&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Higher Education&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#higher-education&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/business-types#higher-education">
                                                                            <span class="cmp-list__item-title">Higher
                                                                                Education</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-c672680ce9-item-eda7bfa226&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;K-12 Education&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#k-12&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/business-types#k-12">
                                                                            <span class="cmp-list__item-title">K-12
                                                                                Education</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-c672680ce9-item-9481b0cef1&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;State and Local Governments&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#state-local-governments&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/business-types#state-local-governments">
                                                                            <span class="cmp-list__item-title">State and
                                                                                Local Governments</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-c672680ce9-item-5be87112ee&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Taft-Hartley and Federal&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types#taft-hartley&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/business-types#taft-hartley">
                                                                            <span
                                                                                class="cmp-list__item-title">Taft-Hartley
                                                                                and Federal</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-c672680ce9-item-46023d6848&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Third-Party Administrators&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/business-types/third-party-administrators&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/business-types/third-party-administrators">
                                                                            <span
                                                                                class="cmp-list__item-title">Third-Party
                                                                                Administrators</span>

                                                                        </a>

                                                                    </li>

                                                                </ul>



                                                            </div>



                                                        </div>

                                                        <div class="grid-column container-column-2">







                                                            <div class="title">
                                                                <div data-cmp-data-layer="{&quot;title-336e68d4e6&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:28:43Z&quot;,&quot;dc:title&quot;:&quot;International&quot;}}"
                                                                    id="title-336e68d4e6" class="cmp-title">
                                                                    <h3 class="cmp-title__text">International</h3>
                                                                </div>



                                                            </div>




                                                            <div class="list">
                                                                <ul id="list-12d6084b46"
                                                                    data-cmp-data-layer="{&quot;list-12d6084b46&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:29:47Z&quot;}}"
                                                                    class="cmp-list">
                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-12d6084b46-item-80ad8b6270&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Health Insurance for Expats&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cignaglobal.com/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cignaglobal.com/">
                                                                            <span class="cmp-list__item-title">Health
                                                                                Insurance for Expats</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-12d6084b46-item-cdbceddc8d&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;IGO/NGOs&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cignahealthbenefits.com/en&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cignahealthbenefits.com/en">
                                                                            <span
                                                                                class="cmp-list__item-title">IGO/NGOs</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-12d6084b46-item-0ef562da25&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Multinational Businesses&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cignaglobalhealth.com/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cignaglobalhealth.com/">
                                                                            <span
                                                                                class="cmp-list__item-title">Multinational
                                                                                Businesses</span>

                                                                        </a>

                                                                    </li>

                                                                </ul>



                                                            </div>



                                                        </div>

                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>









                                <div class="mega-menu__item" tabindex="0">
                                    <div class="cmp-link">
                                        <a href="https://www.cigna.com/employers/why-cigna/" tabindex="-1"
                                            target="_self">Why Cigna Healthcare</a>
                                    </div>
                                </div>





                                <!-- FIX ME: Need to look at tabindex, VSCode is complaining about this -->
                                <div class="mega-menu__item dropdown" tabindex="0">
                                    <div class="mega-menu__item_wrapper">
                                        <h3 class="dropdown-toggle">Employer Resources<div class="dropdown-icon"></div>
                                        </h3>
                                        <div class="dropdown__triangle-up"></div>
                                    </div>
                                    <div class="dropdown-content active-item">
                                        <div class="xfpage page basicpage">



                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                                                <div class="title aem-GridColumn aem-GridColumn--default--12">
                                                    <div data-cmp-data-layer="{&quot;title-bdcc21f0e6&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:33:21Z&quot;,&quot;dc:title&quot;:&quot;Employer Resources&quot;}}"
                                                        id="title-bdcc21f0e6" class="cmp-title">
                                                        <h3 class="cmp-title__text">Employer Resources</h3>
                                                    </div>



                                                </div>
                                                <div class="columncontrol aem-GridColumn aem-GridColumn--default--12">



                                                    <div class="grid grid-1-1 gutters-no ">

                                                        <div class="grid-column container-column-0">







                                                            <div class="list">
                                                                <ul id="list-a8992dd518"
                                                                    data-cmp-data-layer="{&quot;list-a8992dd518&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-23T14:02:18Z&quot;}}"
                                                                    class="cmp-list">
                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-a8992dd518-item-14298f7898&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Cigna for Employers Portal Features&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/cigna-for-employers/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/cigna-for-employers/">
                                                                            <span class="cmp-list__item-title">Cigna for
                                                                                Employers Portal Features</span>

                                                                        </a>

                                                                    </li>

                                                                </ul>



                                                            </div>




                                                            <div class="text">
                                                                <div data-cmp-data-layer="{&quot;text-f7a0145819&quot;:{&quot;@type&quot;:&quot;chc/components/content/text&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-23T04:57:34Z&quot;,&quot;xdm:text&quot;:&quot;<p>Learn more about the tools and resources you'll have access to in the Cigna for Employers online portal.<br>\r\n</p>\r\n&quot;}}"
                                                                    id="text-f7a0145819" class="cmp-text">
                                                                    <p>Learn more about the tools and resources you'll
                                                                        have access to in the Cigna for Employers online
                                                                        portal.<br>
                                                                    </p>

                                                                </div>



                                                            </div>



                                                        </div>

                                                        <div class="grid-column container-column-1">







                                                            <div class="title">
                                                                <div data-cmp-data-layer="{&quot;title-75d336a503&quot;:{&quot;@type&quot;:&quot;chc/components/content/title&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:35:08Z&quot;,&quot;dc:title&quot;:&quot;Industry CHC&quot;}}"
                                                                    id="title-75d336a503" class="cmp-title">
                                                                    <h3 class="cmp-title__text">Industry CHC</h3>
                                                                </div>



                                                            </div>




                                                            <div class="list">
                                                                <ul id="list-96f0a8b4ea"
                                                                    data-cmp-data-layer="{&quot;list-96f0a8b4ea&quot;:{&quot;@type&quot;:&quot;chc/components/content/list&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-11T12:36:18Z&quot;}}"
                                                                    class="cmp-list">
                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-96f0a8b4ea-item-fba6d6806b&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Informed on Reform&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/chc/informed-on-reform/&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/chc/informed-on-reform/">
                                                                            <span class="cmp-list__item-title">Informed
                                                                                on Reform</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-96f0a8b4ea-item-ceb3429f82&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Workplace Wellness&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/chc/topic-workplace-wellness&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/chc/topic-workplace-wellness">
                                                                            <span class="cmp-list__item-title">Workplace
                                                                                Wellness</span>

                                                                        </a>

                                                                    </li>


                                                                    <li class="cmp-list__item"
                                                                        data-cmp-data-layer="{&quot;list-96f0a8b4ea-item-dff9e10d2b&quot;:{&quot;@type&quot;:&quot;chc/components/content/list/item&quot;,&quot;dc:title&quot;:&quot;Consumer-Driven Health Plans&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.cigna.com/employers/chc/topic-cdhp&quot;}}">
                                                                        <a class="cmp-list__item-link"
                                                                            data-cmp-clickable=""
                                                                            href="https://www.cigna.com/employers/chc/topic-cdhp">
                                                                            <span
                                                                                class="cmp-list__item-title">Consumer-Driven
                                                                                Health Plans</span>

                                                                        </a>

                                                                    </li>

                                                                </ul>



                                                            </div>



                                                        </div>

                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>

                        <div class="header__login-button">
                            <div>






                                <div class="button cmp-button__secondary">
                                    <a id="button-41d4e18582" class="cmp-button" data-cmp-clickable=""
                                        data-cmp-data-layer="{&quot;button-41d4e18582&quot;:{&quot;@type&quot;:&quot;chc/components/content/button&quot;,&quot;repo:modifyDate&quot;:&quot;2024-04-23T08:41:17Z&quot;,&quot;dc:title&quot;:&quot;Log in to Employer Portal&quot;,&quot;xdm:linkURL&quot;:&quot;/content/chc/us/en.html&quot;}}"
                                        href="/content/chc/us/en.html" target="_blank">



                                        <span class="cmp-button__text">Log in to Employer Portal</span>
                                        <span class="cmp-link__screen-reader-only">(opens in a new tab)</span></a>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>





        <div class="list cmp-list__small">
            <div class="header__top__mob_section"></div>
        </div>



    </nav>


</header>