<header>
    <div id="backdrop-active"></div>
    <nav class="cigna-container cmp-header">
        <div class="header__logo">
            <div class="image">
                <div data-cmp-is="image" data-cmp-widths="600,800,1000,1200,1600"
                    data-cmp-src="/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_554582955/component/image.coreimg.82{.width}.jpeg"
                    data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
                    data-cmp-filereference="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
                    id="image-d54ae90061"
                    data-cmp-data-layer="{&quot;image-d54ae90061&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Lava flowing into the ocean&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&quot;}}}"
                    data-cmp-hook-image="imageV3" class="cmp-image" itemscope=""
                    itemtype="http://schema.org/ImageObject">
                    <img src="assets/cigna-healthcare-logo.png" srcset="assets/cigna-healthcare-logo.png">
                    <meta itemprop="caption" content="Lava flowing into the ocean">
                </div>
            </div>
        </div>
        <div class="header__text">
            <div class="text cmp-text-wrapper">
                <div data-cmp-data-layer="{&quot;text-8803966ff6&quot;:{&quot;@type&quot;:&quot;chc/components/content/text&quot;,&quot;repo:modifyDate&quot;:&quot;2024-03-13T09:44:30Z&quot;,&quot;xdm:text&quot;:&quot;<ul>\r\n<li><a href=\&quot;/content/chc.html\&quot; target=\&quot;_self\&quot; rel=\&quot;noopener noreferrer\&quot;>CHC</a></li>\r\n<li><a href=\&quot;/content/chc.html\&quot;>CHC</a></li>\r\n<li><a href=\&quot;/content/chc.html\&quot;>CHC</a></li>\r\n<li><a href=\&quot;/content/chc.html\&quot;>CHC</a></li>\r\n<li><a href=\&quot;/content/chc.html\&quot;>CHC</a></li>\r\n</ul>\r\n&quot;}}"
                    id="text-8803966ff6" class="cmp-text">
                    <ul>
                        <li>
                            <a href="#" target="_self">Individuals & Families</a>
                        </li>
                        <li>
                            <a href="#" target="_self">Medicare</a>
                        </li>
                        <li>
                            <a href="#" target="_self">Providers</a>
                        </li>
                        <li>
                            <a href="#" target="_self">Brokers</a>
                        </li>
                        <li>
                            <a href="#" target="_self">Employers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>