<header>
    <div class="cigna-container cmp-header">
        <div class="header__logo">
            <div class="image">
                <div data-cmp-is="image" data-cmp-widths="600,800,1000,1200,1600" data-cmp-src="/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_554582955/component/image.coreimg.82{.width}.jpeg" data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc" data-cmp-filereference="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg" id="image-d54ae90061" data-cmp-data-layer="{&quot;image-d54ae90061&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Lava flowing into the ocean&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&quot;}}}" data-cmp-hook-image="imageV3" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                    <img src="assets/cigna-healthcare-logo.png" srcset="assets/cigna-healthcare-logo.png">
                    <meta itemprop="caption" content="Lava flowing into the ocean">
                </div>
             </div>
        </div>
        <div class="header__text">
            <div class="text">
                <div data-cmp-data-layer="{&quot;text-e58d65c472&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-e58d65c472" class="cmp-text">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</header>