// Color sass Variables

// Neutral Colors
$neutral-black: #000;
$neutral-white: #fff;
$neutral-04: #f3f3f3;
$neutral-05: #f4f4f4;
$neutral-10: #ebebeb;
$neutral-20: #d6d6d6;
$neutral-30: #c2c2c2;
$neutral-30-1: #ccc;
$neutral-40: #adadad;
$neutral-50-1: #999;
$neutral-50-2: #33333350;
$neutral-60: #858585;
$neutral-70: #707070;
$neutral-80: #5c5c5c;
$neutral-90: #474747;
$neutral-100: #333;
$neutral-120: #292929;
$neutral-140: #1f1f1f;
$neutral-160: #141414;
$neutral-180: #0a0a0a;
$transparent: #3330;
$neutral-25: #33333325;
$neutral-75: #33333375;

// BRAND Colors

// Action Blue Colors
$action-blue-10-1: #e6ebff;
$action-blue-10-2: #0033ff10;
$action-blue-20-1: #ccd6ff;
$action-blue-20-2: #0033ff20;
$action-blue-30: #b3c2ff;
$action-blue-40: #99adff;
$action-blue-50-1: #8099ff;
$action-blue-50-2: #0033ff50;
$action-blue-60: #6685ff;
$action-blue-70: #4d70ff;
$action-blue-80: #335cff;
$action-blue-90: #1a47ff;
$action-blue-100: #03f;
$action-blue-120: #0029cc;
$action-blue-140: #001f99;
$action-blue-160: #001466;
$action-blue-180: #000a33;

// Navy Colors
$navy-10: #e0e6ff;
$navy-20: #cfcce6;
$navy-30: #b8b3d9;
$navy-40: #a099cd;
$navy-50: #8880c0;
$navy-60: #7066b3;
$navy-70: #584da7;
$navy-80: #41339a;
$navy-90: #291a8e;
$navy-100: #110081;
$navy-120: #0e0067;
$navy-140: #0a004d;
$navy-160: #070034;
$navy-180: #03001a;

// UTILITY Colors

// Green Colors
$green-20: #dae6d1;
$green-40: #b6cda3;
$green-60: #91b575;
$green-80: #6d9c47;
$green-100: #488319;
$green-120: #3a6914;
$green-140: #2b4f0f;
$green-160-1: #1d340a;
$green-160-2: #0e1a05;
$green-170-1: #005602;
$green-170-2: #007d04;
$green-170-3: #028d05;
$green-170-4: #00a500;

// Red Colors
$red-20: #f1cccc;
$red-40: #e39999;
$red-60: #d66666;
$red-80: #c83333;
$red-100: #ba0000;
$red-101: #bf0000;
$red-102: #e51b00;
$red-103: #9f1300;
$red-120: #950000;
$red-140: #700000;
$red-160: #4a0000;
$red-180: #250000;

// Yellow Colors
$yellow-20: #fff5d6;
$yellow-40: #ffebae;
$yellow-60: #ffe185;
$yellow-80: #ffd75d;
$yellow-100: #ffcd34;
$yellow-120: #cca42a;
$yellow-140: #997b1f;
$yellow-160: #665215;
$yellow-180: #33290a;

// Purple Colors
$purple-100: #7522d9;

// Orange Colors
$orange-10: #fad6bd;
$orange-50: #faa163;
$orange-100: #ff4d00;

// Leaf Green Colors
$leaf-green-10: #a1f7a2;
$leaf-green-50: #03cc54;
$leaf-green-100: #00874d;
