<div class="cmp-cardgroup cardgroup cmp-card__wrapper">
    <ul >
        <li>
            <a href="http://www.google.com">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Title</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="eager" class="cmp-image__image"
                                alt="Lava flowing into the ocean" width="100%" height="auto"
                                title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Title</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="eager" class="cmp-image__image"
                                alt="Lava flowing into the ocean" width="100%" height="auto"
                                title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Title</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="eager" class="cmp-image__image"
                                alt="Lava flowing into the ocean" width="100%" height="auto"
                                title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li  >
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Title</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="eager" class="cmp-image__image"
                                alt="Lava flowing into the ocean" width="100%" height="auto"
                                title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li  >
            <a href="#"  >
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Title</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="eager" class="cmp-image__image"
                                alt="Lava flowing into the ocean" width="100%" height="auto"
                                title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>