<div class="cardgroup cmp-cardgroup cmp-card__wrapper cmp-card__wrapper-tag">
    <ul data-component="cardgroup" class="cmp-card__tags">
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 1</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 2</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 3</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 4</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 5</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 6</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 7</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 8</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 9</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 10</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 11</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 12</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 13</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 14</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 15</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 16</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 17</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 18</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 19</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="cmp-card">
                    <div class="cmp-card__content">
                        <h3 class="cmp-card__title">Card No 20</h3>
                        <div class="cmp-card__description">
                            <p>This is a paragraph to show how the Card component works.</p>
                        </div>
                    </div>
                    <div class="cmp-card__image">
                        <div class="cmp-image">
                            <img src="images/card-group-1.jpeg" loading="lazy" class="cmp-image__image" width="850" height="509" alt="Lava flowing into the ocean" title="Lava flowing into the ocean">
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>