/* stylelint-disable */
.mktoForm {
  .mktoCheckboxList,
  .mktoRadioList {
    padding:1em 0.3em !important;
    @include media(">=tablet") {
      padding: 0.3em;
    }

    float: left;

    > label {
      @include label-small;

      margin: 0;
      margin-bottom: rem(16) !important;
      line-height: 1.7em;
      display: block;
      min-height: 24px;
    }

    > input {
      float: left;
      margin: 0;
      padding: 0;
      width: 24px;
      height: 24px;
      margin-right: 8px;

      &:checked {
        accent-color: $action-blue-100;
      }
    }
  }

  &.ie7 .mktoRadioList > label,
  &.ie7 .mktoCheckboxList > label {
    padding: 0.2em 0 0;
  }

  .mktoLabelToLeft {
    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      right: 0.3em;
    }
  }
}
