<div class="cmp-text-wrapper">
  <div class="text">
    <div data-cmp-data-layer="{&quot;text-1d54f432c6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<ul><li>List item</li><li>List item</li><li>List item</li><li>List item</li></ul><p>&amp;nbsp;</p><ol><li>List Item 1</li><li>List Item 2</li><li>List item 3</li><li>List item 4</li></ol>&quot;}}" id="text-1d54f432c6" class="cmp-text">
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
      <p>&nbsp;</p>
      <ol>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List item 3</li>
        <li>List item 4</li>
      </ol>
    </div>
  </div>
</div>