{{!-- Buttons --}}

{{!-- Button Primary --}}

<div>
        <h4>Button Primary</h4>
        <div class="button__wrapper">
                <div>
                        <p>Default</p>
                        <div class="button cmp-button__primary">
                        <a id="button-a1f53d50c2" class="cmp-button"  href="#">
                        <span class="cmp-button__text">Anchor Button</span>
                        </a>
                        </div>
                        <div class="button cmp-button__primary">
                                <button>Primary Button</button>
                        </div>
                </div>
                <div>
                        <p>Active</p>
                        <div class="button cmp-button__primary">
                        <a id="button-a1f53d50c2" class="cmp-button active" href="#">
                        <span class="cmp-button__text">Anchor Button</span>
                        </a>
                        </div>
                </div>
                <div>
                        <p>Focus</p>
                        <div class="button cmp-button__primary">
                        <a id="button-a1f53d50c2" class="cmp-button focus" href="#">
                        <span class="cmp-button__text">Anchor Button</span>
                        </a>
                        </div>
                </div>
                <div>
                        <p>Disabled</p>
                        <div class="button cmp-button__primary">
                        <a id="button-a1f53d50c2" class="cmp-button disabled" href="#">
                        <span class="cmp-button__text">Anchor Button</span>
                        </a>
                        </div>
                </div>
        </div>
</div>

{{!-- Button Secondary --}}

<div>
        <h4>Button Secondary</h4>
        <div class="button__wrapper">
                <div>
                        <p>Default</p>
                        <div class="button cmp-button__secondary">
                        <a id="button-a1f53d50c2" class="cmp-button" href="#">
                        <span class="cmp-button__text">Anchor Button</span>
                        </a>
                        </div>
                        <div class="button cmp-button__secondary">
                                <button>Secondary Button</button>
                        </div>
                </div>
                <div>
                        <p>Active</p>
                        <div class="button cmp-button__secondary ">
                        <a id="button-a1f53d50c2" class="cmp-button active" href="#">
                        <span class="cmp-button__text">Anchor Button</span>
                        </a>
                        </div>
                </div>
                <div>
                        <p>Focus</p>
                        <div class="button cmp-button__secondary ">
                        <a id="button-a1f53d50c2" class="cmp-button focus" href="#">
                        <span class="cmp-button__text">Anchor Button</span>
                        </a>
                        </div>
                </div>
                <div>
                        <p>Disabled</p>
                        <div class="button cmp-button__secondary ">
                        <a id="button-a1f53d50c2" class="cmp-button disabled" href="#">
                        <span class="cmp-button__text">Anchor Button</span>
                        </a>
                        </div>
                </div>
        </div>
</div>
