.skip-to-main-content {
  a {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    z-index: 50;
    transform: translateY(-1000px);
  }

  a:focus {
    overflow: auto;
    z-index: 50;
    opacity: 1;
    transform: translateY(0);
  }

  &.cmp-button__primary a {  /* stylelint-disable-line */
    margin: 0.5rem 1rem 1rem 0.4rem;
  }
}
