<div class="tabs panelcontainer cmp-tabs__wrapper">
  <div id="tabs-9fea6f9326" data-cmp-is="tabs" class="cmp-tabs" data-cmp-data-layer="{&quot;tabs-9fea6f9326&quot;:{&quot;shownItems&quot;:[&quot;tabs-9fea6f9326-item-d5441fb8ea&quot;],&quot;@type&quot;:&quot;core-components-examples/components/tabs&quot;}}" data-placeholder-text="false">
    <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
      <li role="tab" id="tabs-9fea6f9326-item-d5441fb8ea-tab" class="cmp-tabs__tab cmp-tabs__tab--active" aria-controls="tabs-9fea6f9326-item-d5441fb8ea-tabpanel" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="true">Tab Item 1</li>
      <li role="tab" id="tabs-9fea6f9326-item-17bd5097a5-tab" class="cmp-tabs__tab" aria-controls="tabs-9fea6f9326-item-17bd5097a5-tabpanel" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="false">Tab Item 2</li>
      <li role="tab" id="tabs-9fea6f9326-item-478a696646-tab" class="cmp-tabs__tab" aria-controls="tabs-9fea6f9326-item-478a696646-tabpanel" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="false">Tab Item 3</li>
      <li role="tab" id="tabs-9fea6f9326-item-d5441fb8eb-tab" class="cmp-tabs__tab" aria-controls="tabs-9fea6f9326-item-d5441fb8ea-tabpanel" tabindex="0" data-cmp-hook-tabs="tab">Tab Item 4</li>
      <li role="tab" id="tabs-9fea6f9326-item-17bd5097a7-tab" class="cmp-tabs__tab" aria-controls="tabs-9fea6f9326-item-17bd5097a5-tabpanel" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="false">Tab Item 5</li>
      <li role="tab" id="tabs-9fea6f9326-item-478a696648-tab" class="cmp-tabs__tab" aria-controls="tabs-9fea6f9326-item-478a696646-tabpanel" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="false">Tab Item 6</li>
      <li role="tab" id="tabs-9fea6f9326-item-d5441fb8ec-tab" class="cmp-tabs__tab" aria-controls="tabs-9fea6f9326-item-d5441fb8ea-tabpanel" tabindex="0" data-cmp-hook-tabs="tab">Tab Item 7</li>
      <li role="tab" id="tabs-9fea6f9326-item-17bd5097a9-tab" class="cmp-tabs__tab" aria-controls="tabs-9fea6f9326-item-17bd5097a5-tabpanel" tabindex="0" data-cmp-hook-tabs="tab" aria-selected="false">Tab Item 8</li>
    </ol>
    <div id="tabs-9fea6f9326-item-d5441fb8ea" role="tabpanel" aria-labelledby="tabs-9fea6f9326-item-d5441fb8ea-tab" tabindex="0" class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-9fea6f9326-item-d5441fb8ea&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 1&quot;}}">
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <p>Text 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sag</p>
        </div>
      </div>
    </div>
    <div id="tabs-9fea6f9326-item-17bd5097a5" role="tabpanel" aria-labelledby="tabs-9fea6f9326-item-17bd5097a5-tab" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-9fea6f9326-item-17bd5097a5&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 2&quot;}}" aria-hidden="true">
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <p>Text 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sag</p>
        </div>
      </div>
    </div>
    <div id="tabs-9fea6f9326-item-478a696646" role="tabpanel" aria-labelledby="tabs-9fea6f9326-item-478a696646-tab" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-9fea6f9326-item-478a696646&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 3&quot;}}" aria-hidden="true">
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <p>Text 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sag</p>
        </div>
      </div>
    </div>
    <div id="tabs-9fea6f9326-item-d5441fb8ea" role="tabpanel" aria-labelledby="tabs-9fea6f9326-item-d5441fb8ea-tab" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-9fea6f9326-item-d5441fb8ea&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 1&quot;}}">
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <p>Text 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sag</p>
        </div>
      </div>
    </div>
    <div id="tabs-9fea6f9326-item-17bd5097a7" role="tabpanel" aria-labelledby="tabs-9fea6f9326-item-17bd5097a5-tab" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-9fea6f9326-item-17bd5097a5&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 2&quot;}}" aria-hidden="true">
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <p>Text 5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sag</p>
        </div>
      </div>
    </div>
    <div id="tabs-9fea6f9326-item-478a696648" role="tabpanel" aria-labelledby="tabs-9fea6f9326-item-478a696646-tab" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-9fea6f9326-item-478a696646&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 3&quot;}}" aria-hidden="true">
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <p>Text 6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sag</p>
        </div>
      </div>
    </div>
    <div id="tabs-9fea6f9326-item-d5441fb8ec" role="tabpanel" aria-labelledby="tabs-9fea6f9326-item-d5441fb8ea-tab" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-9fea6f9326-item-d5441fb8ea&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 1&quot;}}">
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <p>Text 7 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sag</p>
        </div>
      </div>
    </div>
    <div id="tabs-9fea6f9326-item-17bd5097a9" role="tabpanel" aria-labelledby="tabs-9fea6f9326-item-17bd5097a5-tab" tabindex="0" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel" data-cmp-data-layer="{&quot;tabs-9fea6f9326-item-17bd5097a5&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/tabs/item&quot;,&quot;dc:title&quot;:&quot;Tab 2&quot;}}" aria-hidden="true">
      <div class="responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <p>Text 8 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sag</p>
        </div>
      </div>
    </div>
  </div>
</div>