/* stylelint-disable */
.cmp-hero__wrapper.cmp-hero__background-green {
  background-color: $hero-green-color;

  .cmp-teaser {
    &::after {
      mask: $hero-curve;
      background-color: $hero-green-color;
      display: none;
      width: 6.25%;
      @include media(">=tablet") {
        display: block;
      }
    }

    &__content {
      margin-top: rem(16);

      h2 {
        @include h2-serifbold;

        letter-spacing: normal;
      }
    }

    &__image {
      &::before {
        mask: $hero-curve;
        background-color: $hero-green-color;
        display: block;
        @include media(">=tablet") {
          display: none;
        }
      }
    }
  }
}
