<div class="teaser cmp-hero__wrapper cmp-hero__background-blue cmp-hero__button-secondary" data-component="hero-v2">
  <div class="cmp-teaser">
    <div class="cmp-teaser__content">
      <p class="cmp-teaser__pretitle">Pretitle</p>
      <h2 class="cmp-teaser__title"> Industry CHC for Employers and Brokers</h2>
      <div class="cmp-teaser__description">
        <p>We offer a variety of Medicare coverage options.</p>
        <p>If you're enrolled in a Medicare Advantage (MA) plan, you can switch to another MA plan—with or without drug coverage—or switch back to Original Medicare Part A and B from January 1-March 31. <a href="#">Compare MA plans</a></p>
        <p>Turning 65 and feeling like a Medicare rookie? Earvin “Magic” Johnson is in the same court. We can help. <a href="#">Get coached on Medicare.</a></p>
        <p><i>Paid actor portrayal.</i></p>
      </div>
      <div class="cmp-teaser__action-container">
        <a class="cmp-teaser__action-link" href="https://www.cigna.com/employers/chc/">button secondary</a>
      </div>
       <div class="cmp-teaser__action-container">
        button secondary
      </div>
    </div>
    <div class="cmp-teaser__image">
      <div data-cmp-is="image" class="cmp-image" >
        <img src="images/hero-3.jpeg" 
          loading="lazy" class="cmp-image__image" 
          width="100%" height="auto" alt="Welcome to Cigna" 
          title="Welcome to Cigna">
        <meta itemprop="caption" content="Welcome to Cigna">
      </div>
    </div>
  </div>
</div>