<div class="teaser cmp-hero__wrapper cmp-hero__background-orange" data-component="hero-v2">
  <div class="cmp-teaser">
    <a class="cmp-teaser__link" href="/content/core-components-examples/library/core-content/teaser.html">
      <div class="cmp-teaser__content">
        <p class="cmp-teaser__pretitle">Pretitle</p>
        <h2 class="cmp-teaser__title">Industry CHC for Employers and Brokers</h2>
        <div class="cmp-teaser__description">
          <p>We'll help you keep up with new trends and developments in health care and group benefits.</p>
        </div>
      </div>
      <div class="cmp-teaser__image">
        <div data-cmp-is="image" class="cmp-image" >
          <img src="images/hero-3.jpeg" 
            loading="lazy" class="cmp-image__image" 
            width="100%" height="auto" alt="Welcome to Cigna Healthcare" 
            title="Welcome to Cigna Healthcare">
          <meta itemprop="caption" content="Welcome to Cigna Healthcare">
        </div>
      </div>
    </a>
  </div>
</div>