<div class="columncontrol aem-GridColumn aem-GridColumn--default--12">

  <div class="grid grid-1 ">

    <div class="grid-column container-column-0">

      <div class="embed" id="video-container">
        <div
          data-cmp-data-layer="{&quot;embed-2b0afbfac9&quot;:{&quot;@type&quot;:&quot;chc/components/content/embed&quot;,&quot;repo:modifyDate&quot;:&quot;2024-03-26T08:12:14Z&quot;}}"
          id="embed-2b0afbfac9" class="cmp-embed">
          <div class="cmp-video__assets">
            <video controls class="cmp-video" poster="images/hero-3.jpeg">
              <source src="https://s7d9.scene7.com/e2/cignastage/pexels-aleksandra-fo-20501562%20(2160p)"
                type="video/mp4">
            </video>
            <!-- TODO Refer HTML File -->
            <button class="overlay-button"></button>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>