<div class="cmp-text-wrapper">
  <div class="text">
    <div data-cmp-data-layer="{&quot;text-7569a6a7ea&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p><b>Bold </b>can be used to emphasize a word or phrase, as can <u>underline</u> and <i>italics.&amp;nbsp;</i><sup>Superscript</sup> and <sub>subscript</sub> are useful for mathematical (E = mc<sup>2</sup>) or scientific (h<sub>2</sub>O) expressions. Paragraph styles can provide alternative renderings, such as quote sections:</p><blockquote>&amp;quot;<i>Be yourself; everyone else is already taken&amp;quot;</i></blockquote><blockquote>- Oscar Wilde</blockquote>&quot;}}" id="text-7569a6a7ea" class="cmp-text">
      <p><b>Bold </b>can be used to emphasize a word or phrase, as can <u>underline</u> and <i>italics.&nbsp;</i><sup>Superscript</sup> and <sub>subscript</sub> are useful for mathematical (E = mc<sup>2</sup>) or scientific (h<sub>2</sub>O) expressions. Paragraph styles can provide alternative renderings, such as quote sections:</p>
      <blockquote>"<i>Be yourself; everyone else is already taken"</i></blockquote>
      <blockquote>- Oscar Wilde</blockquote>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h6>Text Alignment</h6>
      <br>
      <p class="cmp-text-align-{{variant}}">Sample Text</p>
    </div>
     <br>
    <h6>Links in Text Component</h6>
    <br>
    <div data-cmp-data-layer="{&quot;text-d7198d703c&quot;:{&quot;@type&quot;:&quot;chc/components/content/text&quot;,&quot;repo:modifyDate&quot;:&quot;2024-03-01T07:17:08Z&quot;,&quot;xdm:text&quot;:&quot;<p><a href=\&quot;http://www.google.com\&quot;>hello here</a></p>\r\n&quot;}}" id="text-d7198d703c" class="cmp-text">
      <p><a href="http://www.google.com">Text Component Anchor Links</a></p>
    </div>
  </div>
</div>